<div class="container">
    <h1 class="form-heading">register Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Register</h2>
                <p>Please enter your information</p>
            </div>

            <form id="Register" [formGroup] = "registerForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" id="inputName" placeholder="Name" required>
                    <!--  *ngIf="this.submitted && registerForm.controls['name'].hasError('required')" -->
                    <div *ngIf="this.submitted && registerForm.controls['name'].errors?.required" class="error">
                        Name is required.
                    </div>
                    <div *ngIf="registerForm.controls['name'].errors?.pattern" class="error">
                        Name is not in valid format.
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" id="inputEmail" placeholder="Email Address" required>
                    <div *ngIf="this.submitted && registerForm.controls['email'].errors?.required" class="error">
                        Email is required.
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Password" required>
                    <div *ngIf="this.submitted && registerForm.controls['password'].hasError('required')" class="error">
                        Password is required.
                    </div>
                </div>

                <div class="forgot">
                    <a routerLink="/login">Login</a>
                </div>
                <!--Disable submit button if there is error on form values-->
                <button type="submit" class="btn btn-dark" [disabled]="!registerForm.valid" >Register</button>

            </form>
        </div>

    </div>
</div>