<div class="row" style="padding-top: 80px; padding-left: 100px;">

    <div class="row" style="padding-bottom: 10px;padding-left: 14px;">
        <a routerLink="/author/add"><button type="button" class="btn btn-dark">Add Author</button></a>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Github</th>
            <th scope="col">Twitter</th>
            <th scope="col">Location</th>
            <th scope="col">Last Article</th>
            <th scope="col">Create At</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let author of authorList">
            <th scope="row">{{author.id}}</th>
            <td>{{author.name}}</td>
            <td>{{author.email}}</td>
            <td>{{author.github}}</td>
            <td>{{author.twitter}}</td>
            <td>{{author.location}}</td>
            <td>{{author.latest_article_published}}</td>
            <td>{{author.created_at.date | dateTimeFormat}}</td>
        </tr>

        </tbody>
    </table>

</div>
